:root {
    --terang: rgba(0, 0, 0, 0.3);
    --gelap: white;
    --yellow: #d33333;
    --black-transparant: rgba(0, 0, 0, 0.3);
    --dark: #2a2a2a;
    --radius: 10px;
}

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: url("https://images.unsplash.com/photo-1588668214407-6ea9a6d8c272?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80.jpg");
}

.navbar{
    
    z-index: 999;
    padding: 20px 5%;
    
}



nav .container-fluid .collapse li {
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
}

.scrolling-active{ 
    background-image: linear-gradient(90deg, #058ba9, #6fc6a9 );
    box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.6);
}

.home-intro-image {
    background: url("https://images.unsplash.com/photo-1588668214407-6ea9a6d8c272?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    padding: 50vh 0;
    background-size: cover;
    background-blend-mode: multiply;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    top: 0;
}

.video-intro{

    height: 100%;
    width: 100%;

}

.video-intro video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main {
    top: 100px;
    background-color: var(--gelap);
    font-size: 30px;
    box-shadow: 0 -50px 50px 0 rgba(0, 0, 0, 0.3);
    padding-top: 50px;
}


/* Page Home */

section {

    top: 100px;
    padding: 70px 5%;
    align-items: center;
}

section .title {
    font-weight: 800;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 62px;
    margin: 2em 0;
}

.card{
    margin: auto;
    max-width: 1000px;
}

.card h1, .card p{
    text-align: center;
}

.card h1{
    color: var(--gelap);
}
.card p{
    font-size: 18px;
    color: var(--dark);
    margin-bottom: 40px;
    text-align: left;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
}

.card .card-thumb{
    width: 200px;
    height: 200px;
    background-color: var(--gelap);
    overflow: hidden;
    z-index: 2;
    box-shadow:
  3.8px 1px 5.9px rgba(0, 0, 0, 0.024),
  10.5px 2.6px 16.3px rgba(0, 0, 0, 0.035),
  25.3px 6.3px 39.2px rgba(0, 0, 0, 0.046),
  84px 21px 130px rgba(0, 0, 0, 0.07)
;
border-radius: var(--radius);

}


.card img{
    object-fit: cover;
}

.card-content{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 180px;
    margin-left: -160px;
    background-color: var(--gelap);
    border-radius: var(--radius);
    
    z-index: 1;
    box-shadow:
  0px 1.2px 3.6px rgba(0, 0, 0, 0.024),
  0px 3.3px 10px rgba(0, 0, 0, 0.035),
  0px 7.8px 24.1px rgba(0, 0, 0, 0.046),
  0px 26px 80px rgba(0, 0, 0, 0.07)
;
}

.card-content:hover{
    margin-left: -100px;
    transition:all .5s ease;
}
.card-date{
    font-size: 0.85rem;
    font-weight: bold;
  }

.card-btn{
    display: block;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: var(--radius);
    width: max-content;
    font-size: 1.1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.pagination{
    margin: auto;
    
}



/* Sidebar */
aside{
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    font-size: 20px;
}

.sidebar{
    margin-top: 100px;
}

.title-side{
    font-size: 24px;
    margin-bottom: 20px;
}


.card-side{
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #efefef;
    border-radius: var(--radius);
    max-width: 500px;

}
.card-side a{
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
}

.card-side a:hover{
    font-weight: bold !important;
}

.card-side-content{
    padding: 20px 30px;
    border-bottom: solid;

    
}

.side-search{
    padding: 12px;
}




footer{
    width: auto;
    text-align: center;
    display: flex;
    margin: auto;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
}

footer .copyright{
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}


@media only screen and (max-width: 700px) {
    .card{
        flex-direction: column;
    }
    .card p{
        text-align: center;
    }
    .card-content{
        width: 100%;
        padding-left: 20px;
        padding-top: 160px;
        margin-left: 0px;
        margin-top: -140px;
        text-align: center;
        color: var(--dark);
    }

    .card-btn{
        margin: auto;
    }
    .socials{
        color: #ffffff;
        display: flex;
        flex-direction: row;
        
    }
    .socials a{
        text-decoration: none;
    }


    
}

/* PAGE PROFILE */

.top {
    display: flex;
    align-items: center;
    margin: 50px 0;
}



.img {
    width: 200px;
    height: 200px;
    contain: content;
}

img {
    width: 100%;
    height: 100%;
}

.top .info {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.top .info p {
    line-height: 1.5;
}

.top h1, .bottom h1 {
    font-size: 42px;
    font-weight: lighter;
}



@media only screen and (max-width: 800px){
    .top{
        flex-direction: column;
        align-items: center;
    }
    .top .info {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }


}

@media screen and (min-width: 800px) {
	@supports (display: grid) {

		main {
			display: grid;
			grid-template-columns: 1fr 0.4fr;
			grid-template-rows: 1fr;
            grid-template-areas: 
            "main aside"
            ;
		}

		.artikel {
            grid-area: main;
		}

		.sidebar {
            grid-area: aside;
		}


	}
}